.item-mobieMenu {
  padding: 10px;
  width: 100%;
}
.link-mobieMenu:hover {
  color: #fe4a52;
}
.link-mobieMenu {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: 900;
  display: block;
  width: 100%;
  transition: all linear 0.2s;
}
