.item{
    display: flex;

}
.title-item{
    font-size: 0.85rem;
font-weight:500;
color: white;

text-decoration: none;
}
.icon-item{
    color: white;
 margin: 3px;
    font-size: 0.8rem;
}
.menu-list-tippy{

    width: 240px;
    background-color: white;
    border-radius: 4px;

}